// font-family: 'Rubik Pixels', cursive;
html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  flex: 1 0;
  display: flex;
  flex-direction: column;
  background: var(--background);
  color: var(--text-color-dark);
  font-family: var(--font1);
}

* {
  user-select: none;
  white-space: pre-wrap;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
